
<h1>YOYOOYOYOYOYOYOY</h1>

<% @articles.each do |article| %>
  <div class="article">
    <h2><%= link_to article.title, article_path(article) %></h2>
    <p><%= article.content %></p>
    <p><%= link_to "Edit", edit_article_path(article) %> | <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %></p>
  </div>
<% end %>
